<div class="container-fluid">
    <div class="row"> 
    
  
    <div class="col-3 left-bar shadow animate__fadeInUp animate__animated ">
      <div class="user">
        <div class="user-img shadow">
          <img
            src="https://media.istockphoto.com/id/1296058958/vector/happy-young-woman-watching-into-rounded-frame-isolated-on-white-3d-vector-illustration.jpg?s=612x612&w=0&k=20&c=x9lmmoKVqxRro-G3S48IWIKQiykb2Yv1CkuiizDJ6gw="
            alt=""
          />
        </div>
        <div class="user-name"><%=projectdetails.author%></div>
      </div>
      <div class="project-categery">
        <div class="anodroid-projects pr">Android</a></div>
        <div class="ios-projects pr">IOS</div>
        <div class="web-projects pr">Websites</div>
      </div>
    </div>
      <div class="col-9 right-bar shadow">
      
      <div class="row m-2 ">
        <div class="col-4 project-categery shadow border border-black rounded-start > 
            <form action="/" method="post" class="p-2">
                <div class="mb-3">
                  <label for="exampleInputProjectName" class="form-label "><b>Project Name</b></label>
                  <div class="anodroid-projects pr"><%=projectdetails.name%></a></div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPrjectDes" class="form-label"><b>Project description</b></label>
                    <div class="ios-projects pr"><%=projectdetails.description%></div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputAuthor" class="form-label"><b>Author Name</b></label>
                      <div class="web-projects pr"><%=projectdetails.author%></div>
                      </div>
                    <div class="">
                      <label for="exampleInputPassword1" class="form-label"><b>Project Type</b></label>
                      <div class="anodroid-projects pr"><%=projectdetails.projectType%></a></div>
                    </div>
                    
                 
                </form> 
                <button  class="issue-btn mb-2"   data-bs-toggle="modal" data-bs-target="#exampleIssueModal">
                  <span>Create Issue</span>
                  <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                      <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                  </svg>
              </button>
                  <!-- Modal Issue-->
<div class="modal fade" id="exampleIssueModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h1 class="modal-title fs-5 " id="exampleModalLabel">Creating  Issue for <%=projectdetails.name%> 🤷‍♂️</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/create-issue/<%=projectdetails.id%>" method="post">
          <div class="mb-3">
            <label for="exampleInputProjectName" class="form-label ">Issue Title / Name 😁</label>
            <input type="text" class="form-control" id="exampleInputProjectName" aria-describedby="ProjectHelp" name="title">
            </div>
            <div class="mb-3">
              <label for="exampleInputPrjectDes" class="form-label">Issue description 🤣</label>
              <input type="text" class="form-control" id="exampleInputPrjectDes" name="description">
              </div>
              <div class="mb-3">
                <label for="exampleInputAuthor" class="form-label">Issuer's Name 👦</label>
                <input type="text" class="form-control" id="exampleInputAuthor" name="author">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Label Type 😊</label>
                </div>

<div class="radio-inputs  ">
  <label>
    <input class="radio-input" type="checkbox" name="labels" value="Bug">
    <span class="radio-tile">
      <span class="radio-icon">
        <i class="fa-solid fa-mosquito"></i>
      </span>
      <span class="radio-label">Bug</span>
    </span>
  </label>
  <label>
    <input class="radio-input" type="checkbox" name="labels" value="High Priority">
    <span class="radio-tile">
      <span class="radio-icon">
        <i class="fa-solid fa-bolt"></i>
      </span>
      <span class="radio-label">High Priority</span>
    </span>
  </label>
  <label>
    <input class="radio-input" type="checkbox" name="labels" value="Feature">
    <span class="radio-tile">
      <span class="radio-icon">
        <i class="fa-solid fa-pen-nib"></i>
      </span>
      <span class="radio-label">Feature</span>
    </span>
  </label>
  <label>
    <input class="radio-input" type="checkbox" name="labels" value="Integration">
    <span class="radio-tile">
      <span class="radio-icon">
        <i class="fa-solid fa-gears"></i>
      </span>
      <span class="radio-label">Integration</span>
    </span>
  </label>
</div>
</div>   
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create issue</button>
      </div>
    </form>
    </div>
    </div>
  </div>
            </div>
         
         
    <!-- filter issue       -->
         
    <div class="col-8">
      <div class="row">
        <div class="col-12 mx-2 border border-black rounded-end shadow animate__fadeInDown animate__animated">
          <div class="d-flex">
            <% labels.forEach(function(label, index) { %>
            <div class="col-3 mt-3 mb-3">
              <div class="checkbox-wrapper-4">
                <input type="checkbox" id="checkbox<%= index %>" class="inp-cbx d-flex" value="<%= label %>">
                <label for="checkbox<%= index %>" class="cbx d-flex">
                  <span>
                    <svg height="10px" width="12px"></svg>
                  </span>
                  <span><b><%= label %></b></span>
                </label>
                <svg class="inline-svg">
                  <symbol viewBox="0 0 12 10" id="check-4">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </symbol>
                </svg>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="issue-btn issue-b mt-3" onclick="filterIssues()">
           Filter Issues
            <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
              <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
            </svg>
          </button>
        </div>
        <div class="col-12 shadow border border-black rounded-end mt-3 mx-2">
          <div class="d-flex justify-content-center"><b>Issues</b></div>
        </div>
        <div class="col-12 m-2 mt-3 shadow border border-black rounded-end specific-issue">
          <!-- Issues by filter  -->
          <div class="row">
            <!-- Showing all Issues  -->
            <div class="col-12 animate__fadeInRight animate__animated">
              <div class="row">
                <table class="table-container">
                  <thead class="border-black border-bottom">
                    <tr>
                      <th class="user-img">User Image</th>
                      <th class="username">Name-Labels</th>
                      <th class="issue-title">Title</th>
                      <th class="issue-description">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (issue of projectdetails.issues) { %>
                    <tr class="shadow border-black" style="border-radius: 15px;" data-label-index="<%= issue.labelIndex %>" data-label="<%= issue.labels %>">
                      <td class="user-img">
                        <img src="https://cdn3d.iconscout.com/3d/premium/thumb/boy-using-headphone-7411046-6067895.png" alt="User Image">
                      </td>
                      <td class="username"><b><%= issue.author %> </b>   [<small style="font-size: 11px; "><i><%= issue.labels %></i></small>] </td>
                      <td class="issue-title"><b><%= issue.title %></b></td>
                      <td class="issue-description"><i><%= issue.description %></i></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
// Add event listener to the "Filter Issues" button
document.querySelector('.issue-btn').addEventListener('click', filterIssues);

function filterIssues() {
  // Get all the checkboxes
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');

  // Create an array to store the selected labels
  const selectedLabels = [];

  // Iterate through the checkboxes to find the selected labels
  checkboxes.forEach((checkbox) => {
    if (checkbox.checked) {
      // Add the label to the selectedLabels array
      selectedLabels.push(checkbox.value);
    }
  });

  // Get all the table rows
  const rows = document.querySelectorAll('.table-container tbody tr');

  // Iterate through the rows and hide/show based on the selected labels
  rows.forEach((row) => {
    const labels = row.dataset.label.split(','); // Retrieve the labels as an array

    // Check if any of the labels exists in the selectedLabels array
    const hasSelectedLabel = labels.some((label) => selectedLabels.includes(label));

    if (hasSelectedLabel) {
      row.style.display = ''; // Show the row
    } else {
      row.style.display = 'none'; // Hide the row
    }
  });
}

    </script>
    